

<head>
    <title> encuestas permanentes</title>
    </head>
    <body>
      <header>
        <section class="textos_header">
            <h1>BIENVENIDOS A ENCUESTAS PERMANENTES</h1> 
            
        
           </section>
      
            <nav>
             
             </nav>
      
            </header>
            
    <footer>
    <div class="footer_container">
        <div class="footer_logo">
            <img src="imagenes/jesus marialogo.svg" class="w-100" alt="">
        </div>
        <div class="footer_contact">
                    <p>tel:03525 - 443776 / 7</p>
                    <p>tel:03525 - 443785</p>   
         </div>
        <div class="footer__col col">
                    <p>Direccion:San Martin 598, Jesús María, Córdoba.</p>
                    <p><a href="mailto:comunicacionpublica@jesusmaria.gov.ar">comunicacionpublica@jesusmaria.gov.ar</a></p>
         </div>
    </div>
    </footer>
 
</body>
