<nav class="navbar navbar-dark - bg-dark">

    <a href="#" class="navbar-brand">BIENVENIDO A ENCUESTA PERMANENTE</a>
  
  </nav>
  
  <div class="container">
    <h3 class="text-center mt-3">Usuarios</h3>
    <button class="btn btn-secondary mb-5" data-toggle="modal" data-target="#agregar"> Agregar Usuario</button>
  
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">nombre_usuario</th>
                <th scope="col">email</th>
                <th scope="col">nombre</th>
                <th scope="col">apellido/th>
                <th scope="col">contrasena</th>
                <th scope="col">rol_usuario</th>
                <th scope="col">Acciones</th>
  
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of Usuarios; let i= index;">
                <th scope="row">{{i+1}}</th>
                <td>{{usuarios.nombre_usuario}}</td>
                <td>{{usuarios.email}}</td>
                <td>{{usuarios.nombre}}</td>
                <td>{{usuarios.apellido}}</td>
                <td>{{usuarios.contrasena}}</td>
                <td>{{usuarios.rol_usuario}}</td>
                <td>{{usuarios.nombre}}</td>
                <td>
                    <button class="btn btn-secondary mr-2" data-toggle="modal" data-target="#editar" (click)="obtenerUnUsuarios(Usuarios.id)"><i class="fas fa-pencil-alt"></i> </button>
                    <button class="btn btn-danger" (click)="eliminarUsuarios(Usuarios.id)"> <i class="fas fa-trash-alt"></i> </button>
                </td>
            </tr>
  
        </tbody>
    </table>
  
  </div>
  
  <!-- Modal Agregar -->
  <div class="modal fade" id="agregaUsuarios" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-plus"></i> Agregar usuarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="agregaUsuarios()" [formGroup]= "forma" autocomplete="off">
                    <div class="form-group">
  
                        <input type="text" class="form-control" placeholder="Nombre usuarios" formControlName="nombre_usuario" required>
  
                    </div>
                    <div class="form-group">
  
                      <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
  
                  </div>
                    <div class="form-group">
  
                        <input type="text" class="form-control" placeholder="nombre"formControlName="nombre" required>
  
                    </div>
                    <div class="form-group">
  
                      <input type="text" class="form-control" placeholder="apellido" formControlName="apellido" required>
  
                  </div>
                  <div class="form-group">
  
                      <input type="text" class="form-control" placeholder="contrasena" formControlName="contrasena" required>
  
                  </div>
                  <div class="form-group">
  
                      <input type="text" class="form-control" placeholder="rol_usuario" formControlName="rol_usuario" required>
  
                  </div>
           
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
  
        </div>
    </div>
  </div>
  
  <!-- Modal Editar -->
  <div class="modal fade" id="editarUsuarios" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-pencil-alt"></i> Editar usuarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editarUsuarios()" [formGroup]= "forma" autocomplete="off">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nombre_usuario" formControlName="nombre_usuario" required>
                  </div>
                  <div class="form-group">
  
                    <input type="email" class="form-control" placeholder="email" formControlName="email" required>
  
                </div>
                  <div class="form-group">
  
                      <input type="text" class="form-control" placeholder="nombre" formControlName="nombre" required>
  
                  </div>
                  <div class="form-group">
  
                    <input type="text" class="form-control" placeholder="apellido" formControlName="apellido" required>
  
                </div>
                <div class="form-group">
  
                    <input type="text" class="form-control" placeholder="contrasena" formControlName="contrasena" required>
  
                </div>
                <div class="form-group">
  
                    <input type="text" class="form-control" placeholder="rol_usuario" formControlName="rol_usuario" required>
  
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
