<app-login></app-login>
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <a class="navbar-brand" routerLink="pagina_principal" routerLinkActive="active"><h2>Iniciar sesion</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample"aria-controls=navbarsExample
aria-expanded="false" aria-label="toggle navigation">
 
 <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarsExample">
    <ul class="navbar-nav mr-auto">
        <li clas="nav-item"> <!--boton de home--> 
        <a class="nav-link" *ngIf= "loginbtn" routerLink="pagina_principal" routerLinkActive="active"><h2>Bienvenidos a encuesta permanentes</h2></a>
    
    </li>
    <li class="nav-item"> <!--boton de login-->
      <a class="nav-link " *ngIf= "loginbtn" routerLink="Iniciar_sesion" routerLinkActive="active"><h2>Iniciar sesion</h2></a>
    </li>
</li>
<li class="nav-item"> <!--boton de logout-->
  <button type="button" *ngIf= "logoutnbtn" class="btn btn-block" (click)= "logout()"><h2>cerrar sesion</h2></a></button>
</li>

<li class="nav-item"> <!--boton de login-->
    <a class="nav-link " *ngIf= "logoutnbtn" routerLink="area_administradora" routerLinkActive="active"><h2>Area Administradora</h2></a>
  </li>
    </ul>
</div>
</nav>
<router-outlet></router-outlet>